.color-change-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

#color-change-btn {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Increased padding for a larger button */
  cursor: pointer;
  font-size: 16px; /* Increased font size for better visibility */
}

.options {
  background-color: #444;
  padding: 10px; /* Increased padding for more space inside */
  margin-top: 5px;
  border-radius: 5px;
}

.color-option,
.bg-color-option,
.toggle-button-option {
  background-color: #555; /* Dark gray background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px; /* Increased padding for a larger touch area */
  display: block; /* Block display to fill the container width */
  margin: 10px 0; /* Increased margin for more space between options */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Increased font size for better readability */
}

