body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.buttons-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Center align the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100; /* Keep this on top of the 3D scene */
}

.image-buttons-container {
  margin-top: 10px; /* Space from the "Click Here to See Mo's Love" button */
  display: flex;
  justify-content: center; /* Align buttons next to each other */
}


#love-button, .image-buttons-container button {
  margin: 5px; /* Adjust spacing around buttons */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #ff1493;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth background transition for hover effect */
}

#show-image, #hide-image {
  background-color: #9400d3; /* Distinct color for these buttons */
}

#show-image:hover, #hide-image:hover {
  background-color: #a050d3; /* Slightly lighter purple for hover state */
}

#show-image:hover, #hide-image:hover {
  background-color: #a050d3; /* Slightly lighter purple for hover state */
}

#scene-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#image-container, #message-container {
  position: absolute;
  z-index: 10; /* Ensures these elements sit above the 3D scene */
  text-align: center;
}

#image-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
}

#message-container {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white; /* White text for visibility */
  font-size: 24px; /* Adjust as needed */
}

input[type="range"] {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 8px; /* Increased height for the track */
  background: #ddd; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Partial transparency */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 25px; /* Increased width for the thumb */
  height: 25px; /* Increased height for the thumb */
  background: #333; /* Dark thumb */
  cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 25px; /* Increased width for the thumb */
  height: 25px; /* Increased height for the thumb */
  background: #333; /* Dark thumb */
  cursor: pointer; /* Cursor on hover */
}

/* White bold text */
.text-white-bold {
  color: white; /* White text */
  font-weight: bold; /* Bold text */
  font-size: 1.2rem;
}